@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&display=swap');
*{
    box-sizing: border-box;
}
.home {
    width: 800px;
    height: 800px;
    display: flex;
    margin: 80px auto;
}

.left {
    flex: 1;
    background-color: #2a2b2f;
    justify-content: center;
    padding: 20px;

}

.right {
    flex: 1;
    padding: 20px;
}

img {
    position: absolute;
    transform: translate(-50%);
    margin: 19px 0 0 1px;
    width: 80px;
}

.circle {

    width: 180px;
    position: relative;
    height: 180px;
    border-radius: 50%;
    background-color: aquamarine;
    background: linear-gradient(145deg, #26272a, #2d2e32);
    box-shadow: 22px 22px 44px #151618,
        -22px -22px 44px #3f4046;

}
.circle.fifth,
.circle.sixth {
    right: -150px;
}

.inner-circle {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@keyframes rot {
    from {
        background: linear-gradient(37deg, #C7592D, #E3B12E);
    }

    to {
        background: linear-gradient(359deg, #f07b3c, #f3b006);
    }

}

.inner-circle.one {

    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    background: linear-gradient(37deg, #C7592D, #E3B12E);
    box-shadow: 12px 12px 24px #1a1a1d,
        -12px -12px 24px #3a3c41;
}
.inner-circle.one:hover {
    animation: rot 2s infinite linear;
}
.inner-circle.one img {
    filter: invert(44%) sepia(81%) saturate(306%) hue-rotate(360deg) brightness(98%) contrast(96%);
}
.inner-circle.two {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    background: linear-gradient(37deg, #69AB53, #348377);
    box-shadow: 12px 12px 24px #1a1a1d,
        -12px -12px 24px #3a3c41;
}

.inner-circle.two img {
    filter: invert(58%) sepia(39%) saturate(592%) hue-rotate(63deg) brightness(92%) contrast(88%);
}
.inner-circle.three {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    background: linear-gradient(37deg, #AB3A63, #6F2E62);
    box-shadow: 12px 12px 24px #1a1a1d,
        -12px -12px 24px #3a3c41;
}

.inner-circle.three img {
    filter: invert(29%) sepia(16%) saturate(3456%) hue-rotate(271deg) brightness(89%) contrast(84%);
}

.inner-circle.four {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    background: linear-gradient(37deg, #2198D1, #20568B);
    box-shadow: 12px 12px 24px #1a1a1d,
        -12px -12px 24px #3a3c41;
}

.inner-circle::after {
    border-radius: 50%;
    z-index: -1;
    content: "";
    width: 112px;
    height: 112px;
    background: linear-gradient(145deg, #2d2e32, #26272a);
    position: absolute;
    left: 4px;
    top: 4px;

}
.inner-circle.four img {
    filter: invert(46%) sepia(36%) saturate(1438%) hue-rotate(158deg) brightness(102%) contrast(89%);
}
button {
    cursor: pointer;
    width: 250px;
    padding: 20px;
    margin: 20px 0 20px;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(145deg, #2d2e32, #26272a);
    box-shadow: 11px 11px 22px #141517,
        -11px -11px 22px #404147;
    border-radius: 70px;
    outline: none;
    border: none;
}

button:hover {
    background: linear-gradient(145deg, #26272a, #2d2e32);
    box-shadow: 8px 8px 19px #17181a,
        -8px -8px 19px #3d3e44;
}

button.one,
button.two {
    margin-right: -90px;
}

button.three,
button.four {
    margin-right: 120px;
}

button.one {
    color: #8D3A76;
}

button.four {
    color: #5CA84C;
}


button.three {
    color: #a77f39;
}

button.two {
    color: #159CD6;
}
@media(max-width: 650px) {
    .home{
        padding: 10px;
    }
    button{
        padding: 12px;
        font-size: 20px;
        letter-spacing: 0px;
        width: 200px;
    }
    button.one{
        margin-left: 50px;
    }
    button.four{
        margin-right: 100px;
    }
}