@import url(https://fonts.googleapis.com/css?family=Fraunces:100,300,400,700);

* {
    box-sizing: border-box;
}

.forecast {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.forecast-blur {
    width: 100vw;
    height: 100vh;
    background: rgba(21, 20, 20, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.forecast-container {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: #fff;
    margin: 40px auto;
    z-index: 100;
    border-radius: 10px;
    position: relative;
}

.forecast-container .image {
    max-width: 100%;
    object-fit: cover;
}

.image img {
    width: 1000px;
    border-radius: 10px;
    height: 600px;
    position: absolute;
    margin-top: 0px;
    left: 499px;
    object-fit: cover;
}

aside {
    position: relative;
    width: 400px;
    height: 100%;
    padding: 35px;
    background: rgba(21, 20, 20, 0.35);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    color: #eee;
}

aside h3{
    letter-spacing: 1px;
}

aside #input {
    padding: 10px;
    width: 70%;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #eee;
    color: #eee;
}


aside .weather-details {
    color: #eee;
    margin-top: 40px;
}

aside .weather-details h3 {
    font-weight: 500;
}

aside .weather-details button {
    display: flex;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 100%;
    border-radius: 0;
    text-align: left;
    color: #eee;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: none;
    justify-content: space-between;
}

.weather-content {
    position: absolute;
    background-color: transparent;
    left: 400px;
    z-index: 4;
    display: flex;
    width: 600px;
    padding: 10px 120px;
    bottom: 0px;
    justify-content: space-between;
    color: #eee;
}
.weather-content .degrees {
    font-size: 48px;
}
.weather-content .city-date h2 {
    margin-top: 105px;
    margin-bottom: -10px;
}
.weather-content .icon img {
    margin-left: 20px;
    margin-top: 91px;
    filter: invert(90%) sepia(11%) saturate(777%) hue-rotate(192deg) brightness(104%) contrast(107%);
}
@media(max-width: 800px) {
    aside {
        width: 260px;
        padding: 20px 10px;
    }

    aside .weather-details button {
        font-size: 14px;
    }

    .weather-content {
        flex-direction: column;
        margin-left: -300px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .weather-content .degrees {
        font-size: 50px;
        margin-left: 50px;
    }
    .weather-content .city-date h2 {
        margin-top: 105px;
        margin-bottom: -10px;
        font-size: 37px;
    }
    .weather-content .city-date p{
        font-weight: bold;
        font-size: 24px;
    }

    
}